#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.focus {
  font-weight: bold;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.timer {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.teamTimesContainer {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 5em;
}

input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rebeccapurple;
}

.timeEntry input {
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: inherit;
}

.numBellsEntry {
  width: 1em;
}

.secondsEntry, .minutesEntry {
  width: 2em;
}

.bellTimes {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  margin: 1em;
}

.bellTime {
  display: flex;
  background-color: #363636;
  border-radius: 1em;
  width: min(20em, 100%);
  position: relative;
  height: 3em;
}

.bellTime p {
  margin: 0;
  align-self: center;
}

.bellTime button {
  background-color: transparent;
  color: rebeccapurple;
  border-radius: inherit;
  font-weight: bolder;
  position: absolute;
  height: inherit;
  right: 0;
  transition: ease-out 0.2s;
}

.bellTime button:hover {
  color: red;
}

.bellTime p {
  width: 100%;
}

.timeDisplay {
  margin: 0;
  display: inline;
}

.timeDisplay > span {
  font-size: 0.75em;
}

.speaker {
  transition: ease-out 0.2s;
}

.speaker:hover {
  color: rebeccapurple;
  scale: 105%;
  cursor: pointer;
}

